<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Redit.js Tutorial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {{#if currentUser}}
                        <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
                    {{/if}}
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
                <li><a href="/logout"><button>Logout</button></a></li>
            {{else}}
                <li><a href="/login"><button>Login</button></a></li>
                <li><a href="/sign-up"><button>Sign Up</button></a></li>
            {{/if}}
        </ul>
    </div>
    </div>
</nav>