<div class="text-center">
    <h1>Welcome to my Custom API for Quizzes</h1>

    <h2>Current Routes Are</h2>

    <h4>Base Routes</h4>
    <p>
        /
    </p>

    <p>
        /about
    </p>

    <p>
        /profile/:username
    </p>

    <h5>Authentication Routes</h5>
    <p>
        /auth/sign-up
    </p>

    <p>
        /auth/login
    </p>

    <p>
        /auth/logout
    </p>


    <h4>Topic Routes</h4>
    <p>
        /topics
    </p>

    <p>
        /topics/new
    </p>

    <p>
        /topics/:title
    </p>

    <h4>Quiz Routes</h4>
    <p>
        /topics/:title/quizzes
    </p>

    <p>
        /topics/:title/quizzes/new
    </p>

    <p>
        /topics/:title/quizzes/:name/
    </p>

    <h4>Questtion Routes</h4>
    <p>

    </p>

    <p>
    
    </p>

    <p>
    
    </p>

    <p>
    
    </p>

    <p>
    
    </p>
</div>