<h1 class="text-center">Welcome to my Custom API for Quizzes</h1>

<h2 class="text-center">This is just the index</h1>

<h3>Current Routes Are</h1>
<p>
    /
</p>

<p>
    /about
</p>

<p>
    /auth
</p>

<p>
    /auth/login
</p>

<p>
    /auth/sign-up
</p>

<p>
    /auth/logout
</p>