<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/login" method="post">
            <legend>Login</legend>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                <input type="checkbox" name="remember_me" class="form-control" id="remember_me"> Remember me
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="forgot_password">forgot your password?</a>
                </div>
                <div class='col-6 text-right'>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>