<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/topics/{{topic.title}}/quizzes/{{quiz.name}}/questions/new" method="post">
            <div class="form-group">
                <textarea name="content" class="form-control" id="question-content" placeholder="New Question"></textarea>
            </div>

            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Submit Question</button>
            </div>
        </form>
    </div>
</div>