<div class="row mt-5">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/topics/new" method="post">
            <legend>New Topic</legend>
            <div class="form-group">
                <label for="topic-title">Title</label>
                <input type="text" name="title" class="form-control" id="Topic_title" placeholder="Title" required="true">
            </div>
            {{!-- <div class="form-group">
                <label for="topic-url">Url</label>
                <input type="url" name="url" class="form-control" id="topic-url" placeholder="https://www.google.com" required="true">
            </div> --}}
            {{!-- <div class="form-group">
                <label for="topic-summary">Summary</label>
                <textarea name="summary" class="form-control" id="topic-summary" placeholder="Title" required="true"></textarea>
            </div> --}}
            {{!-- <div class="form-group">
                <label for="topic-subreddit">Subreddit</label>
                <input name="subreddit" type="text" class="form-control" id="topic-subreddit" placeholder="Subreddit">
            </div> --}}
            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Create Topic</button>
            </div>
        </form>
    </div>
</div>